<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Paiol EB</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize-v1.0.0/materialize/css/materialize.css"
          media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
</head>
<body style="padding: 50px; background-color: #e8fce5; font-family: 'Lucida Console'"">
<div align="center">
    <h1>Editar de equipamento</h1>
    <p>
        Preencha os dados para editar um novo equipamento na Reserva de Armamentos.
    </p>
    <form class="color-rect-border" action="#" th:action="@{/editar}" method="post">
        <label style="color: #0f9d58" for="id"><b>ID</b></label><br>
        <input  style="width: 600px;" placeholder="Id do equipamento" id="id" type="text" class="validate" name="id"><br>
        <label style="color: #0f9d58" for="nome"><b>NOME</b></label><br>
        <input  style="width: 600px;" placeholder="Nome do equipamento" id="nome" type="text" class="validate" name="nome"><br>
        <label style="color: #0f9d58" for="calibre"><b>CALIBRE</b></label><br>
        <input style="width: 600px;" placeholder="Calibre do equipamento" id="calibre" type="text" class="validate" name="calibre"><br>
        <a class="waves-effect waves-light btn" href="/"><i class="material-icons left">arrow_back</i>VOLTAR</a>
        <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">save</i>SALVAR</button>
    </form>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize-v1.0.0/materialize/js/materialize.js"></script>
</body>
</html>